html{
    font: 16px 'Arial',sans-serif;
}

.container{
    padding: 15px;
}
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.bloco{
    display: flex;
    padding:5px;
    align-items: center;
}
a.novoLivro{
    text-decoration: none;
    color: black;
}
.bloco.blocoColuna{
    flex-direction: column;
}
.bloco.alinha-left{
    align-content: flex-start;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding:10px;
}
.bloco.blocoLinha{
    justify-content: space-between
}
input{
    border: 2px solid black;
    padding: 5px;
    font-size: 20px;
}
#Plus{
    font-size: 50px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 0 15px;
}
/* Transition */
#Plus:hover{
    font-size: 75px;
    transition: font-size 1s;
}
.right{
    float:right;
}
form .form-group{
    padding: 5px;
    margin: 3px 0;
    display: flex;
}
footer object{
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 60px;
    float: right;
}
.CopyrightFooter>body{
    display: flex;
    justify-content: flex-end;
}
/* Pseudo-elemento */
.copyright::before{
    content: 'C';
}
.copyright{
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
body{
    width: 99%;
    box-sizing: border-box;
    background-image: url('../img/backimg.jpg')
}
/* Pseudo-classe */
.buttonLink:hover{
    background: #fff;
}
.navBody{
    margin:0;
    width: 99vw;
    background-color: #C2C8C8;
}
nav object{
    height: 270px;
    width: 100%;
}
.Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fotoUsuario{
    height: 200px;
    width: 175px;
}
.loginLogout{
    text-align: center;
}
.info{
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
div.options>ul li{
    display: inline;
    padding: 0 30px;
}
div.options>ul{
    padding: 0;
    margin: 0;
}
.options a{
    text-decoration: none;
    color: black;
}

/* Bordas */
.border-black{
    border:2px solid #000;
}
.border-white{
    border:2px solid #fff;
}
.border-red{
    border:2px solid rgb(204, 64, 64);
}
.border-green{
    border:2px solid rgb(94, 158, 77);
}
.border-blue{
    border:2px solid rgb(93, 101, 223);
}
.border-round{
    border-radius: 25px;
}
/* Botão */
input.btn, a.btn, button.btn{
    border:none;
    padding: 13px 18px;
    border-radius: 8px;
}
.btn.btn-success{
    color:#fff;
    background-color: rgb(11, 126, 11);
}
.btn.btn-warning{
    color:#fff;
    background-color: rgb(216, 172, 52);
}
.btn.btn-danger{
    color:#fff;
    background-color: rgb(199, 25, 25);
}
form button{
    float: right;
    padding: 3px;
    margin: 0 5px;
}
form label{
    margin-right: 5px;
}
form input[type="text"],form input[type="date"],form input[type="email"]
,form input[type="tel"],form input[type="password"],form select{
    margin-right: 20px;
    border:1px solid black;
    padding:8px 8px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.fotoAutor{
    position: absolute;
    width: 250px;
    display: flex;
    flex-direction: column;
    right: 50px;
}